.rect {
    border-radius: 20px;
    height: 480px;
    width: 600px;
    background-color: lightslategray;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    text-align: center;
  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#output2 {
    position: absolute;
    top: 105px;
    right: 175px;
}