.rect {
    border-radius: 20px;
    height: 480px;
    width: 700px;
    background-color: lightslategray;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    text-align: center;
  
}

.dropdown1 {
    width: 300px;
}

.dropdown2 {
    width: 300px;
}