.rect {
    border-radius: 20px;
    height: 480px;
    width: 800px;
    background-color: lightslategray;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    text-align: center;
  
}

#box1 {
    position: absolute;
    top: 110px;
    left: 70px;
    height: 30px;
    width: 120px;
}

#box2 {
    position: absolute;
    top: 110px;
    right: 70px;
    height: 30px;
    width: 120px;
}

.dropdown1 {
    /*position: absolute; */
    width: 250px;
    top: 75px;
    left: 10px;
}

.dropdown2 {
    /*position: absolute; */
    width: 250px;
    top: -15px;
    left: 340px;
}