.rect {
    border-radius: 20px;
    height: 480px;
    width: 800px;
    background-color: lightslategray;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    text-align: center;
  
}

#box1 {
    position: absolute;
    top: 95px;
    left: 40px;
    height: 45px;
    width: 180px;
}

#box2 {
    position: absolute;
    top: 95px;
    right: 45px;
    height: 45px;
    width: 180px;
}

.dropdown1 {
    /*position: absolute; */
    width: 250px;
    top: 75px;
    left: 10px;
}

.dropdown2 {
    /*position: absolute; */
    width: 250px;
    top: -15px;
    left: 340px;
}

/*
text alignment help: https://www.freecodecamp.org/news/text-align-in-css-how-to-align-text-in-center-with-html/ 
*/
#currency1, #currency2 {
    position: absolute;
    border-radius: 25px;
    background: lightblue;
    padding: 20px; 
    width: 20px;
    height: 3px; 
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#currency1 {
    top: 83px;
    left: 165px;
}

#currency2 {
    top: 83px;
    right: 48px;
}

#flags {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#img {
    width: 25px;
}
/* use relative, absolute, or fixed for element positioning*/